@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

.barra-nav {
    background-color: #E6F5FF;
    margin-bottom: 3em;
    border: solid 0.25px black;

}
.nav-bar-titulo {
    font-size: 1em;
    
}

body {
    background-color: #89B35230;
    font-family: 'Source Code Pro', monospace;
}

.header {
    width: 90%;
    margin: auto;
    height: 400px;
}


.foto-header {
    background-image: url(../imgs/20230910_164627.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:left;
    min-height: 50%;
    
}


header .titulo {
    
    background-color: #1C71A690;
    padding: 1em;
    min-height: 50%;
}

header p {
    
    font-weight: 400;
}

.educacion,
.experiencia {
    width: 90%;
    margin: auto;
    margin-top: 3em;
}

section .iframe {
    border: solid 1px;
    width: 80%;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    
}

.tarjetas {
    width: 90%;
}

.card-img {
    height: 250px;
    padding: 1em;

}

footer {
    background-color: #E6F5FF;
}
footer .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
    
}

.footer p {
    margin-left: 2em;
    max-width: 60%
}

.footer .social-media {
    margin-right: 2em;
}

.boton {
    background-color: #1C71A690;
    border: #1C71A690;
    color: black;
    font-weight: 400;

}