@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap");

* {
  font-family: "Noto Sans JP", sans-serif;
}

.header h1 {
  font-weight: 400;
  letter-spacing: 0.25em;
}

.header p {
  font-weight: 300;
  font-style: italic;
}

.header {
  background-image: url(../imgs/header.jpeg);
  background-size: cover;
  background-position: left;
  height: 15em;
  padding: 2em 0 0 2em;
}

.titulos {
  background-color: #50a9a9a9;
  padding: 0.2em 1em 0.2em 0.8em;
  background-size: cover;
  width: 50%;
}

.productos {
  width: 80%;
  margin: auto;
  margin-top: 2em;
}

.productos {
  letter-spacing: 0.15em;
}

.productos td {
  width: 50%;
  padding: 2em;
  text-align: center;
  border-bottom: solid;
  border-bottom-style: dashed;
  border-bottom-color: goldenrod;
}
.productos img {
  border-radius: 50%;
  width: auto;
  height: 270px;
  border: solid 1px goldenrod;
  border-style: ridge;
}

.footer {
  background-color: #50a9a9a9;
  height: 5em;
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
}
.footer p {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  padding: 1em;
}
